@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}
/* slide show */
div.slideshow {
  /* border: 3px solid red; */
  padding: 10px;
  height: 465px;
  min-width: 960px;
  background-color: black;
  position: relative;
}
div.slideshow_slides {
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  height: 100%;
}
div.slideshow_slides a {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* 네이게이션바를 중앙에 배치한다. */
div.slideshow_nav a {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 62px;
  color: skyblue;
  transform: translateX(-50%);
  transform: translateY(-50%);
  opacity: 0.4;
}
div.slideshow_nav a.prev {
  margin-left: -462px;
}
div.slideshow_nav a.next {
  margin-left: 400px;
}
/* indicator */
div.indicator {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  text-align: center;
}
div.indicator a {
  display: inline-block;
  font-size: 24px;
  color: cornflowerblue;
  padding: 5px;
  opacity: 0.6;
}
div.indicator a.active {
  color: coral;
}
